

.adminhead {
    font-size: clamp(2rem, 6vw, 3rem);
    color: var(--grey6);
}

.dark {
    ::placeholder {
        color: var(--grey3) !important;
    }
    #visible,
    #confirm{
        color: var(--grey0);
    }

    .adminhead,
    .forgotpasshead {
        color: var(--grey0);
    }

    .adminparagraph {
        color: var(--grey2);
    }
}

.adminparagraph {
    margin-top: 2em;
    color: var(--grey4);
    font-size: calc(15vw * .1);
    transition: var(--transi);
  

}