.password {
    background-image: linear-gradient(var(--overlay), var(--overlay)), url(../images/forgotpass.png);
    background-position: -100px;


    @media (max-width:980px) {
        background-attachment: fixed;
        background-size: cover;
    }
}


.forgotpasshead {
    font-size: clamp(2rem, 6vw, 2.3rem);
    color: var(--grey6);
    text-align: center;
}

.forgotpassparagraph {
    margin-top: 1em;
    text-align: center;
    color: var(--grey4);
    font-size: clamp(1rem, 4vw, 1.1rem);

}

.forgotpasslogo {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .ventalogo {

        img {
            width: var(--logo-size);
        }
    }
}

::selection {
    background: var(--cyan);
    color: var(--grey6);
}

input {
    padding-right: 0 !important;
    padding-left: 2rem !important;
}

#passconfirm,
#newpassword,
#newaccountpass,
#password {

    transition: background 0ms;

    &:invalid:not(:placeholder-shown) {
        background: url(../images/redx.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 5px 50%;
        border: 1px solid red;

    }

    &:valid:not(:placeholder-shown) {
        background: url(../images/check.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 5px 50%;
        transition: background 410ms;
        // border: 1px solid red;

    }

}