@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Work+Sans:wght@400;600;700&display=swap");
*,
:root {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  --transi: all 400ms;
}

.light {
  --bg: var(--grey0);
  --bg-nav:var(--card-hover);
  --bg-dropdown: var(--greyDropdown);
  --text: var(--grey6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
  --label: var(--grey0);
  --underline:linear-gradient(90deg, var(--grey3), var(--grey4), var(--grey2));
  --card-hover: linear-gradient(40deg, var(--cyan), var(--blue), var(--green));
  --bgEffectBottom:transparent;
  --underline-2: linear-gradient(40deg, var(--grey2), var(--grey1));
  --placeholder: var(--grey2);
  --everything: var(--grey0);
  --event: all;
}

.dark {
  --bgEffectTop: var(--cyan);
  --event: none;
  --everything: transparent;
  --label: var(--grey5);
  --bg: var(--grey6);
  --bg-nav: var(--greyDropdownDark);
  --bg-dropdown: var(--greyDropdownDark);
  --text: var(--grey0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
  --underline: linear-gradient(90deg, var(--cyan), var(--purple));
  --card-hover: var(--underline);
  --bgEffectBottom: var(--purple);
  --underline-2: linear-gradient(40deg, var(--cyan), var(--purple));
}

.solar {
  --grey0: #f8ebdb;
  --grey1: #f3dcc1;
  --grey3: #312f2e;
  --grey5: #2a2929;
  --grey6: #12181b;
  --blue: #1671c6;
  --purple: #a8138b;
  --yellow: #ffde0b;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.logo {
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}
.logo:where(:hover, :active) {
  animation: color-rotate 1s ease infinite;
  animation-direction: alternate;
}

body {
  --white: #fff;
  --grey0: #E4EBF5;
  --greyDropdown: #f8f8f824;
  --greyDropdownDark: #00000024;
  --grey1: #c8daee2d;
  --grey2: #b8b9ba;
  --grey3: #6c7178;
  --grey4: #454545;
  --grey5: #2a292963;
  --grey6: #1f2529;
  --blue: #1671c6;
  --green: #01ffa6;
  --purple: #ff00cc;
  --valid: #11d2c5;
  --cyan: #0ff;
  --cyan1: #059292;
  --darkcyan: #025d5d;
  --verydarkcyan: #012f2f;
  --overlay: rgba(73, 71, 71, 0.593);
  --yellow: #ffde0b;
  --gradient: linear-gradient(90deg, var(--grey6), var(--grey3));
  --logo-size: 150px;
  background: var(--bg);
  color: var(--text);
  font-family: "lato";
  transition: background 400ms ease-in-out, color 800ms ease-in-out;
  overflow: hidden;
  user-select: none;
}
body::before {
  content: "";
  position: fixed;
  height: 200px;
  width: 200px;
  background: var(--bgEffectTop);
  filter: blur(140px);
  z-index: -1;
}
body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 300px;
  background: var(--bgEffectBottom);
  filter: blur(140px);
  z-index: -1;
}

canvas {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: var(--event);
  background: var(--everything);
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
}

.navbar {
  height: 70px;
  width: 100%;
  pointer-events: all;
  position: fixed;
  z-index: 999999;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.navbar ul li {
  font-size: 3vw;
  margin-top: 10px;
  text-transform: uppercase;
  background: var(--card-hover);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 6px;
  padding: 10px 1.2rem;
  border-radius: 10px;
  transition: var(--transi);
  box-shadow: inset 3px 3px 2px #a9a7a7, inset -4px -4px 2px #d7d7d7;
}
@media (min-width: 1300px) {
  .navbar ul li {
    font-size: 1.95vw;
  }
}

header {
  padding: 1em;
  width: 100%;
  padding-bottom: 3em;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: #6f7271;
}
header img {
  margin-bottom: 1rem;
}
header p {
  background: var(--card-hover);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  transition: var(--transi);
  filter: brightness(120%);
}
@media (min-width: 900px) {
  header p {
    font-size: 3rem;
  }
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
}

._info_ {
  background: #645e5e;
  text-shadow: 1px 2px 1px rgb(255, 255, 255);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}

.light .warning {
  opacity: 0;
}
.light ._info_ {
  background: rgb(145, 153, 157);
  text-shadow: 1px 2px 1px rgb(216, 215, 215);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}
.light header {
  box-shadow: 0.8rem 0.8rem 1.4rem rgb(176, 180, 184), -0.2rem -0.2rem 1.8rem var(--white);
  margin-bottom: 2rem;
  color: #666668;
}

.boxshadowkeydown {
  transition: var(--transi);
  box-shadow: 0.8rem 0.8rem 1.4rem rgb(176, 180, 184), -0.2rem -0.2rem 1.8rem var(--white);
}

.dropdown {
  position: absolute;
  width: 500px;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: 2px solid var(--border-color);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 0.5rem;
  box-shadow: 0.8rem 0.8rem 1.4rem rgb(166, 166, 167), -0.2rem -0.2rem 1.8rem var(--white);
  transform: translateX(-40%);
  backdrop-filter: blur(6px);
  transition: opacity 0.15s ease-out;
  display: none;
}

.dark .dropdown {
  box-shadow: none;
  box-shadow: 0 0 20px rgb(255, 4, 205);
}

.has-dropdown {
  pointer-events: all;
}
.has-dropdown ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.has-dropdown:focus-within .dropdown {
  display: flex;
  pointer-events: auto;
}

.dropdown-item {
  opacity: 1 !important;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  padding: 10px;
  font-weight: 500;
}
.dropdown-item a::before {
  content: "";
  border: 1px solid var(--border-color);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.header .head h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.1vw;
  background: var(--underline);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: var(--trans-box);
}

@media (max-width: 500px) {
  h1 {
    font-size: 4.6vw;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 4.7vw !important;
  }
}
@media (max-width: 950px) {
  h1 {
    font-size: 4vw;
  }
}
.title {
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100% !important;
  overflow: hidden;
  user-select: none;
}

.dark .content {
  background: transparent;
}

.first-half {
  font-family: "work sans", sans-serif;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1.5;
  max-width: 50%;
  color: var(--grey0);
}
@media (max-width: 1150px) {
  .first-half {
    flex: 1;
  }
}
@media (max-width: 800px) {
  .first-half {
    display: none;
  }
}
.first-half .confirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-left: 0;
  height: 100%;
  width: 100%;
}
.first-half .confirst canva {
  position: relative;
  z-index: -1;
  max-width: 200px !important;
}
.first-half .confirst .logocon {
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 4rem;
  pointer-events: none;
}
.first-half .confirst .logocon .ventalogo img {
  width: var(--logo-size);
}
.first-half .confirst .sayhello {
  text-align: center;
  transition: var(--transi);
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.first-half .confirst .sayhello h2 {
  margin-bottom: 2rem;
  font-size: clamp(1.2rem, 5vw, 3.5rem);
}
.first-half .confirst .sayhello p {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1320px) {
  .first-half .confirst .sayhello {
    transition: var(--transi);
  }
  .first-half .confirst .sayhello p {
    font-size: clamp(1rem, 14vw, 1.5rem);
  }
}

.second-half {
  flex: 2;
  font-family: poppins, sans-serif;
  overflow-y: auto;
  padding-top: 3rem;
  transition: var(--transi);
  background: var(--bg);
  position: relative;
  z-index: 2;
}
@media (min-width: 1800px) {
  .second-half {
    flex: 2.4;
  }
}
@media (min-width: 2000px) {
  .second-half {
    flex: 2.5;
  }
}
@media (min-width: 2000px) {
  .second-half {
    flex: 2.7;
  }
}
@media (max-width: 1150px) {
  .second-half {
    flex: 1;
  }
}
.second-half .signin {
  text-align: left !important;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: var(--darkcyan);
  font-size: 2.1vw;
  transition: var(--transi);
}
@media (max-width: 1050px) {
  .second-half .signin {
    font-size: 2.7vw;
  }
}
.second-half .consecond {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1800px) {
  .second-half .consecond {
    padding: 0 8rem;
  }
}
.second-half .consecond .alt-signin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-half .consecond .alt-signin .button {
  background: none;
  color: var(--grey6);
  outline: none;
  padding: 0.71rem 2rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  box-shadow: 0.3rem 0.4rem 0.4rem rgb(176, 180, 184), -0.2rem -0.2rem 0.8rem var(--white);
  flex-grow: 1;
  align-items: center;
  transition: var(--transi);
  cursor: pointer;
}
.second-half .consecond .alt-signin .button:hover {
  opacity: 0.8;
}
.second-half .consecond .alt-signin .button img {
  height: 30px;
  margin-right: 15px;
}
.second-half .consecond .alt-signin .button span {
  font-weight: 500;
}
.second-half .consecond .alt-signin .button:nth-child(1) {
  margin-right: 2rem;
}
@media (max-width: 1045px) {
  .second-half .consecond .alt-signin {
    display: block;
  }
  .second-half .consecond .alt-signin .button span {
    font-size: 2.2vw;
    width: 100%;
    text-align: center;
  }
  .second-half .consecond .alt-signin .button:first-child {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.second-half .consecond .separator {
  display: flex;
  justify-content: center;
  margin: 3em 0;
  color: var(--grey3);
  position: relative;
}
.second-half .consecond .separator::before {
  content: "";
  background: var(--grey2);
  height: 2px;
  width: 47%;
  position: absolute;
  left: 0;
  top: 10px;
}
.second-half .consecond .separator::after {
  content: "";
  background: var(--grey2);
  height: 2px;
  width: 47%;
  position: absolute;
  right: 0;
  top: 10px;
}
@media (max-width: 1248px) {
  .second-half {
    transition: var(--transi);
  }
  .second-half .consecond .alt-signin .button {
    padding: 0.71rem 1rem;
    font-size: 13px;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form form {
  width: 100%;
  font-weight: 500;
}
.form form label {
  display: block;
  margin-bottom: 1rem;
}
.form form input {
  font-weight: 600;
  width: calc(100% - 2rem);
  padding: 1.2rem 1rem;
  border: none;
  background: var(--grey1);
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: inset 0.3rem 0.2rem 0.4rem rgb(176, 180, 184), inset -0.2rem -0.2rem 0.8rem var(--white);
  transition: var(--transi);
}
.form form input::placeholder {
  color: var(--placeholder);
}
.form form input:focus:valid {
  border: 1px solid var(--green);
}
.form form input:valid {
  border: 1px solid var(--green);
}
.form form input:valid::after {
  content: "✔";
  position: absolute;
  right: 0;
  font-size: 2rem;
}
.form form input:focus:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

label[for=password],
label[for=newpassword],
label[for=sign-in-password],
label[for=newaccountpass],
label[for=passconfirm] {
  position: relative;
}

#password,
#newpassword,
#sign-in-password,
#newaccountpass,
#passconfirm {
  margin-top: 1rem;
}

#visible,
#confirm {
  position: absolute;
  right: 10px;
  top: 50%;
  color: var(--darkcyan);
  cursor: pointer;
}

#checker {
  position: absolute;
  top: 50%;
  left: 10px;
}

.btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}
.btn .submit {
  background: var(--cyan1);
  border: none;
  color: var(--grey0);
  border-radius: 12px;
  padding: 1rem 0;
  box-shadow: 0.3rem 0.4rem 0.4rem rgb(168, 168, 168), -0.2rem -0.2rem 0.8rem var(--white);
  width: 90%;
  margin-bottom: 3rem;
  font-size: large;
  cursor: pointer;
  transition: var(--transi);
}
.btn .submit:hover {
  filter: brightness(90%);
  box-shadow: inset 0.3rem 0.4rem 0.4rem rgb(3, 87, 77), inset -0.2rem -0.2rem 0.8rem var(--darkcyan);
}
.btn p {
  margin-bottom: 2rem;
  color: var(--grey2);
  font-weight: 500;
}
.btn p a {
  color: var(--darkcyan);
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  font-family: "work sans";
  letter-spacing: 1.2px;
  border-radius: 30px;
  box-shadow: 0.3rem 0.4rem 0.4rem rgb(191, 196, 200), -0.2rem -0.2rem 0.8rem var(--white);
  position: relative;
  transition: var(--transi);
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

#message h3 {
  padding: 10px 15px;
  font-size: 1.4vw;
  background: #878686;
  text-shadow: 1px 2px 1px rgb(200, 200, 200);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: var(--valid);
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: rgb(245, 53, 53);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.adminhead {
  font-size: clamp(2rem, 6vw, 3rem);
  color: var(--grey6);
}

.dark ::placeholder {
  color: var(--grey3) !important;
}
.dark #visible,
.dark #confirm {
  color: var(--grey0);
}
.dark .adminhead,
.dark .forgotpasshead {
  color: var(--grey0);
}
.dark .adminparagraph {
  color: var(--grey2);
}

.adminparagraph {
  margin-top: 2em;
  color: var(--grey4);
  font-size: 1.5vw;
  transition: var(--transi);
}

.forgotpasshead {
  font-size: clamp(2rem, 6vw, 2.3rem);
  color: var(--grey6);
  text-align: center;
}

.forgotpassparagraph {
  margin-top: 1em;
  text-align: center;
  color: var(--grey4);
  font-size: clamp(1rem, 4vw, 1.1rem);
}

.forgotpasslogo {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.forgotpasslogo .ventalogo img {
  width: var(--logo-size);
}

::selection {
  background: var(--cyan);
  color: var(--grey6);
}

input {
  padding-right: 0 !important;
  padding-left: 2rem !important;
}

#passconfirm,
#newpassword,
#newaccountpass,
#password {
  transition: background 0ms;
}
#passconfirm:invalid:not(:placeholder-shown),
#newpassword:invalid:not(:placeholder-shown),
#newaccountpass:invalid:not(:placeholder-shown),
#password:invalid:not(:placeholder-shown) {
  background: url(../images/redx.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px 50%;
  border: 1px solid red;
}
#passconfirm:valid:not(:placeholder-shown),
#newpassword:valid:not(:placeholder-shown),
#newaccountpass:valid:not(:placeholder-shown),
#password:valid:not(:placeholder-shown) {
  background: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px 50%;
  transition: background 410ms;
}

#light,
#dark,
#solar {
  font-size: 18px;
  text-transform: none;
  padding: 0;
}

#light::before {
  content: "";
  background: var(--grey0);
}

#dark::before {
  content: "";
  background: var(--grey6);
}

#solar::before {
  content: "";
  background: #f3d495;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--label);
}

::-webkit-scrollbar-thumb {
  background: var(--underline-2);
  border-radius: 10px;
}

.first-half .confirst .first-half-foo {
  position: absolute;
  bottom: 2rem;
  z-index: 2;
}
.first-half .confirst .first-half-foo ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-half .confirst .first-half-foo ul li {
  margin-right: 5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: var(--transi);
}
.first-half .confirst .first-half-foo ul li:last-child {
  margin-right: 0;
}
@media (max-width: 990px) {
  .first-half .confirst .first-half-foo ul li {
    margin-right: 2rem;
  }
}

.second-half .consecond .second-half-foo {
  padding-right: 2rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  font-family: "work sans", sans-serif;
}
.second-half .consecond .second-half-foo p {
  font-weight: 600;
  position: absolute;
  right: 0;
  text-align: right;
  color: var(--verydarkcyan);
}

.title {
  display: grid;
  place-items: center;
}

.warning {
  position: absolute;
  bottom: 10%;
}

.container {
  position: relative;
  display: grid;
  place-items: center;
}

.ml16 {
  padding: 40px 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
  background: var(--card-hover);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  filter: brightness(120%);
  font-size: 5vw;
}
@media (max-width: 570px) {
  .ml16 .letter {
    font-size: 6vw;
  }
}/*# sourceMappingURL=style.css.map */